body {
  box-sizing: border-box;
  background-color: #000028;
  font-family: "Lilita One", cursive;
}

.randomSuit {
  position: absolute;
  left: 50px;
  top: 50px;
}

.card {
  background-color: #fff;
  background-image: url("https://i.picsum.photos/id/669/200/300.jpg?hmac=ypH3d7OM0ROvll045TKXPpwkg24nCbbWckekDHVyH0U");
  left: 44%;
  top: 33%;
  transform: rotateX(60deg) rotateY(0deg) rotateZ(-45deg) translateY(0);
  position: absolute;
  width: 200px;
  height: 300px;
  border-radius: 10px;
  transition: all 400ms;
  border: 1px solid #ccc;
  cursor: pointer;
  border-bottom-color: #666;
  box-shadow: -10px 40px 20px 2px rgba(0, 0, 0, 0);
}
.card.opened {
  transform: scale(1.5) rotateX(0) rotateY(180deg) rotateZ(0) translateY(0) !important;
  box-shadow: 0 10px 24px rgba(0, 0, 0, 0.2);
}
.card.is-removed {
  transform: translateY(100%) !important;
}

.card:first-child {
  box-shadow: 12px 12px 0px 12px rgba(0, 0, 0, 0.3);
}

.card.down:last-child:hover {
  transform: rotateX(60deg) rotateY(0deg) rotateZ(-45deg) translateZ(50px) !important;
  box-shadow: -10px 40px 20px 2px rgba(0, 0, 0, 0.2);
}

.cards {
  height: auto;
  width: auto;
}